<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>

    <p class="lead">{{ site.description }}</p>
  </header>

  <p>
    <a class="side-link"
       href="{{ site.baseurl }}/">Blog</a><br/>
    <a class="side-link"
       href="{{ site.baseurl }}/about/">About</a><br/>
    <a class="side-link"
       href="{{ site.baseurl }}/code/">Code</a><br/>
  </p>

{% assign current = page.url | downcase | split: '/' %}

  <p>
    &copy; {{ site.time | date: '%Y' }}.
    <a class="side-link"
       href="{{ site.baseurl }}/licence/">Licence.</a>
  </p>
</div>