<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  <p>
    <a class=sidebar-nav-item href="{{ site.baseurl }}/about/">About</a>
  </p>

  <p>
    &copy; {{ site.time | date: '%Y' }}.
    <a href="{{ site.baseurl }}/licence/">Licence.</a>
  </p>
</div>