<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>

    <p class="lead">{{ site.description }}</p>
  </header>

  <p>
    <a class="side-link{% if page.url == '/about/' %} active{% endif %}"
       href="{{ site.baseurl }}/about/">About</a></br>
    <a class="side-link{% if page.url == '/code/' %} active{% endif %}"
       href="{{ site.baseurl }}/code/">Code</a></br>
    <a class="side-link{% if page.url == '/archive/' %} active{% endif %}"
       href="{{ site.baseurl }}/archive/">Archive</a></ul></br>
    <a class="side-link{% if page.url contains '/misc/' %} active{% endif %}"
       href="{{ site.baseurl }}/misc/">Miscellaneous</a></ul></br>
  </p>

  {% assign current = page.url | downcase | split: '/' %}
  
<p id="icon-bar">
  <a href="mailto:{{ site.author.email }}">
    <img class="side-icon"
         alt="mail" src="/icons/png/email-white.png"
         onmouseover="this.src='/icons/png/email-green.png'"
         onmouseout="this.src='/icons/png/email-white.png'">
  </a>
  <a href="{{ site.author.facebook }}">
    <img class="side-icon"
         alt="fb" src="/icons/png/facebook-white.png"
         onmouseover="this.src='/icons/png/facebook-green.png'"
         onmouseout="this.src='/icons/png/facebook-white.png'">
  </a>
  <a href="{{ site.author.instagram }}">
    <img class="side-icon"
         alt="insta" src="/icons/png/instagram-white.png"
         onmouseover="this.src='/icons/png/instagram-green.png'"
         onmouseout="this.src='/icons/png/instagram-white.png'">
  </a>
  <a href="{{ site.author.linkedin }}">
    <img class="side-icon"
         alt="in" src="/icons/png/linkedin-white.png"
         onmouseover="this.src='/icons/png/linkedin-green.png'"
         onmouseout="this.src='/icons/png/linkedin-white.png'">
  </a>
  <a href="{{ site.author.github }}">
    <img class="side-icon"
         alt="gh" src="/icons/png/github-white.png" width="40"
         onmouseover="this.src='/icons/png/github-green.png'"
         onmouseout="this.src='/icons/png/github-white.png'">
  </a>
</p>

  <p>
    &copy; 2018-19.
    <a class="side-link"
       href="{{ site.baseurl }}/licence/">Licence.</a>
  </p>



</div>
