---
layout: default
mathjax: true
---

<div class="content">
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>
  <script
    type="text/javascript"
    charset="utf-8"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  >
  </script>
  <script
    type="text/javascript"
    charset="utf-8"
    src="https://vincenttam.github.io/javascripts/MathJaxLocal.js"
  >
  </script>


  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <div class="post-meta">
      <span class="post-date">{{ post.date | date_to_string }}</span>
    </div>

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
      <h4>
        <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
      </h4>
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}
  <article>
      <h3>
      <a href="{{ site.baseurl }}/archive/">
        <div style="text-align:center">Full blog archive</div>
      </a>
      </h3>
  </article>


</div>
